@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,600&display=swap');

.App{
  background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 200.1%);
  backdrop-filter: blur(7px);
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
